In [1]:
#Question 1:
#Answer:
# def keyword is used to create a function.
def odd(l):
    l1=[]
    for i in l:
        if i%2 != 0:
            l1.append(i)
    return l1

In [3]:
a=[1,2,3,4,5,6,7,8,9]

In [4]:
odd(a)

[1, 3, 5, 7, 9]

In [14]:
#Question 2:
#Answer:
#We use *args and **kwargs as an argument when we are unsure about the number of arguments to pass in the functions.
#example of *args.
def test(*args):
    return args

#example of kwargs
def test1(**kwargs):
    return kwargs

In [9]:
test(1,2,3,"saurabh",3.56)

(1, 2, 3, 'saurabh', 3.56)

In [15]:
test1(a=1,b=3,c=9)

{'a': 1, 'b': 3, 'c': 9}

In [6]:
#Question 3:
#Answer:
#An iterator is an object that contains a countable number of values.
# iter() is used to initialize iterator and next() is used for iteration
l = [2, 4, 6, 8, 10, 12, 14,  16, 18, 20]
t = iter(l)
def five_elements(l):
    for i in l:
        yield i
s = five_elements(l)
for i in range(5):
    print(next(s))

2
4
6
8
10

In [7]:
#Question 4:
#Answer: 
#generator is a function that returns an iterator that produces a sequence of values when iterated over.
#The yield keyword in Python controls the flow of a generator function. This is similar to a return statement used for returning values in Python.
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b= b , a+b
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [5]:
#Question 5:
#Answer:
def prime_num(n=1000):
    for num in range(2,n):
        if num>1:
            for j in range(2,num):
                if num%j == 0:
                    break
            else:
                yield num
l=prime_num()
a = list(l)
print(a)
x=prime_num()
print("FIRST 20 PRIME NUMBER USING NEXT FUNCTION")
for i in range(20):
    print(next(x))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
FIRST 20 PRIME NUMBER USING NEXT FUNCTION
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [62]:
#Question 6:
#Answer:
n = 0
a,b=0,1
while n < 10:
    print(a)
    c=a+b
    a=b
    b=c
    n = n+1

0
1
1
2
3
5
8
13
21
34

In [47]:
#Question 7:
#Answer:
s = "pwskills"
[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [55]:
#Question 8:
#Answer:
num = int(input("ENTER NUMBER TO CHECK PALINDROM OR NOT"))
check = num
rev = 0
while num > 0:
    digit = num%10
    rev = (rev*10) + digit
    num = num // 10
    
if check == rev:
    print("NUMBER IS PALINDROME")
else:
    print("NUMBER IS NOT PALINDROME")

ENTER NUMBER TO CHECK PALINDROM OR NOT 123

NUMBER IS NOT PALINDROME

In [50]:
#Question 9:
#Answer:
[i for i in range(101) if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]